{% extends "main.html" %}
{% load static %}
{% block title %}Django-socketio test{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.5.1/client-dist/socket.io.js"></script>
    <script type="text/html" id="hn-template">
        <div id="hn-__prefix__">
            {{ hndataform.empty_form }}
        </div>
    </script>
    <script type="text/javascript" charset="UTF-8">
        $(document).ready(function(){
            // Connection
            const socket = io({autoConnect:true});
            socket.on('connect', function () {
                socket.emit('event', {data: 'Transmission Test Passed'});
            });
            socket.on('disconnect', function () {
                $('#log').append('<br>Disconnected');
            });
            socket.on('response', function (msg) {
                $('#log').append('<br>' + msg.data);
            });
            // HN Page
            // HN only, no other data
            $('#hntext-submit').click(function() {
                let hnArr = $('textarea#hnbox').val().split(" ", 10);
                // console.log(hnArr);
                socket.emit('patient', hnArr);
            });
            // HN with full data (WIP)
            function add_hn (){
                let count = $('#hn-set').children().length;
                const templateMarkup = $('#hn-template').html();
                let compiledTemplate = templateMarkup.replace(/__prefix__/g, count);
                if (count < $('#hn-MAX_NUM_FORMS').val()){
                    $('#hn-set').append(compiledTemplate);
                    $('#hn-TOTAL_FORMS').attr('value', count+1);
                }
            }
            $('#add-hn-button').click(function() {
                add_hn()
            });
            $('#remove-hn-button').click(function () {
                if ($('#hn-set').children().length > 1) {
                    $(':checked').parent().remove();
                    let count = $('#hn-set').children().length;
                    $('#hn-TOTAL_FORMS').attr('value', count);
                    // if (($('#hn-set').children().length === 0)) {
                    if (count === 0) {
                        add_hn()
                    }
                }
            });
            $('#hndataform-submit').click(function() {
                let hnRaw = $(':text').serializeArray();
                //console.log(hnRaw);
                let hnArr = [];
                for (let i in hnRaw) {
                    hnArr.push(hnRaw[i].value)
                }
                //console.log(hnArr)
                socket.emit('patient', hnArr);

                {% comment %}
                data = [];
                // Process Data
                for (...) {
                    data.push(...)
                }
                console.log(data)
                /* data should be looked like this
                data = [
                    {"HN": "01234", "birthDate": "1987-06-05", "gender": True},
                    {"HN": "56789", "birthDate": "2000-12-31", "gender": False},
                ]
                */
                socket.emit('patient', {data, $('#register').prop('checked')};
                {% endcomment %}
                return false;
            });
            socket.on('hn_response', function(msg) {
                $('#hn_log').text(msg.data)
                //        {#$('#hn_log').html(msg.data + '<br>' + msg.register)#}
            });
            //
            $('form#visit').submit(function(event) {
                socket.emit('visit', {txn: $('#txn').val(), hn: $('#hn').val()});
                return false;
            });
            socket.on('txn_response', function(msg) {
                $('#txn_log').text(msg.data);
            });

            $('form#item').submit(function(event) {
                socket.emit('item', {ser: $('#ser').val(), txn: $('#txn').val(), hn: $('#hn').val()});
                return false;
            });
            socket.on('ser_response', function(msg) {
                $('#ser_log').text(msg.data);
                {% endcomment %}
            });
        });
    </script>
    {% block formscript %}{% endblock %}
{% endblock %}

{% block content %}
    {% block nav %}
        <a href="{% url 'patient' %}">Patient Data</a>
        <a href="{% url 'visit' %}">Visit Data</a>
        <br><a href="{% url 'profile' %}">Back</a><br>
        <div><p id="log"></p></div><br>
    {% endblock %}
    {% comment %}
    <h3>Patient</h3>
    <form id="patient" method="post">
        {% csrf_token %}
        {{ patientdataform.management_form }}
        <div id="patient-set">
            {% for patient in patientdataform %}
                <div id="hn-{{ forloop.counter0 }}">
                    {{ patient.as_p }}
                </div>
            {% endfor %}
        </div>
{#       {{ patientdataform.as_p }} #}
{#                <input type="text" name="hn" id="hn" placeholder="HN">#}
        <input type="checkbox" id="register" value="Register" checked>
        <label for="register">Register</label><br>
        <a href="#" id="add-hn-button" class="btn btn-info add-hn">Add more HN</a>
        <a href="#" id="remove-hn-button" class="btn btn-info remove-hn">Remove Selected</a>
{#        <input type="button" value="Add more HN">#}
{#        <input type="button" value="Remove Selected">#}
        <br><input type="submit" value="Submit HN">

        <br><div><p id="hn_log"></p></div>
    </form>{% endcomment %}

    {% block form %}{% endblock %}
{% endblock %}