{% extends "main.html" %}
{% load static %}
{% block title %}Django-socketio test{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.5.1/client-dist/socket.io.js"></script>
    <script type="text/html" id="hn-template">
        <div id="hn-__prefix__">
            {{ hndataform.empty_form }}
        </div>
    </script>
    <script type="text/html" id="txn-template">
        <div id="txn-__prefix__">
            {{ visitform.empty_form }}
        </div>
    </script>
    <script type="text/javascript" charset="UTF-8">
        $(document).ready(function(){
            // Connection
            const socket = io({autoConnect:true});
            socket.on('connect', function () {
                socket.emit('event', {data: 'Transmission Test Passed'});
            });
            socket.on('disconnect', function () {
                $('#log').append('<br>Disconnected');
            });
            socket.on('response', function (msg) {
                $('#log').append('<br>' + msg.data);
            });
            // HN Page
            // HN only, no other data
            $('#hntext-submit').click(function() {
                let hnArr = $('textarea#hnbox').val().split(" ", 10);
                // console.log(hnArr);
                socket.emit('patient', hnArr);
            });
            // HN with full data (WIP)
            function add_hn (){
                let count = $('#hn-set').children().length;
                const templateMarkup = $('#hn-template').html();
                let compiledTemplate = templateMarkup.replace(/__prefix__/g, count);
                if (count < $('#hn-MAX_NUM_FORMS').val()){
                    $('#hn-set').append(compiledTemplate);
                    $('#hn-TOTAL_FORMS').attr('value', count+1);
                }
            }
            $('#add-hn-button').click(function() {
                add_hn()
            });
            $('#remove-hn-button').click(function () {
                if ($('#hn-set').children().length > 1) {
                    $(':checked').parent().remove();
                    let count = $('#hn-set').children().length;
                    $('#hn-TOTAL_FORMS').attr('value', count);
                    // if (($('#hn-set').children().length === 0)) {
                    if (count === 0) {
                        add_hn()
                    }
                }
            });
            $('#hndataform-submit').click(function() {
                let hnRaw = $(':text').serializeArray();
                //console.log(hnRaw);
                let hnArr = [];
                for (let i in hnRaw) {
                    hnArr.push(hnRaw[i].value)
                }
                //console.log(hnArr)
                socket.emit('patient', hnArr);

                {% comment %}
                data = [];
                // Process Data
                for (...) {
                    data.push(...)
                }
                console.log(data)
                /* data should be looked like this
                data = [
                    {"HN": "01234", "birthDate": "1987-06-05", "gender": True},
                    {"HN": "56789", "birthDate": "2000-12-31", "gender": False},
                ]
                */
                socket.emit('patient', {data, $('#register').prop('checked')};
                {% endcomment %}
                return false;
            });
            socket.on('hn_response', function(msg) {
                $('#hn_log').text(msg.data)
                //        {#$('#hn_log').html(msg.data + '<br>' + msg.register)#}
            });
            //Visit Page
            function add_txn (){
                let count = $('#txn-set').children().length;
                const templateMarkup = $('#txn-template').html();
                let compiledTemplate = templateMarkup.replace(/__prefix__/g, count);
                if (count < $('#txn-MAX_NUM_FORMS').val()){
                    $('#txn-set').append(compiledTemplate);
                    $('#txn-TOTAL_FORMS').attr('value', count+1);
                }
            }
            $('#add-txn-button').click(function() {
                add_txn()
            });
            $('#remove-txn-button').click(function () {
                if ($('#txn-set').children().length > 1) {
                    $(':checked').parent().remove();
                    let count = $('#txn-set').children().length;
                    $('#txn-TOTAL_FORMS').attr('value', count);
                    if (count === 0) {
                        add_txn()
                    }
                }
            });
            function txnform(hn, txn, ipd) {
                this.HN = hn;
                this.TXN = txn;
                this.IPD = ipd
            }
            $('#txn-submit').click(function() {
                let txnRaw = $(':text').serializeArray();
                $(':selected').map(function () {
                    txnRaw.push({'name': $(this).parent().attr('name'), 'value': this.value})
                });
                let txnselect = txnRaw.sort(function (a, b) {
                    if (a['name'] < b['name']) {
                        return -1;
                    }
                    if (a['name'] > b['name']) {
                        return 1;
                    }
                    return 0;
                });
                console.log(txnselect)
                let txnselect2 = [];
                /*for (let i in txnselect) {
                    console.log(txnselect[i]['name']);
                    console.log(txnselect[i]['value']);
                    console.log(txnselect[i]['name']: txnselect[i]['value']);
                };*/
                for (let i = 0; i < txnselect.length ; i = i + 3) {
                    const objbuffer = new txnform(txnselect[i]['value'], txnselect[i+2]['value'], txnselect[i+1]['value']);
                    txnselect2.push(objbuffer);
                };
                console.log(txnselect2);
                //socket.emit('visit', txnselect2);
                return false
            });

            socket.on('txn_response', function(msg) {
                $('#txn_log').text(msg.data);
            });
        });
            {% comment %}
            $('form#item').submit(function(event) {
                socket.emit('item', {ser: $('#ser').val(), txn: $('#txn').val(), hn: $('#hn').val()});
                return false;
            });
            socket.on('ser_response', function(msg) {
                $('#ser_log').text(msg.data);

            });{% endcomment %}
    </script>
    {% block formscript %}{% endblock %}
{% endblock %}

{% block content %}
    {% block nav %}
        <a href="{% url 'patient' %}">Patient Data</a>
        <a href="{% url 'visit' %}">Visit Data</a>
        <br><a href="{% url 'profile' %}">Back</a><br>
        <div><p id="log"></p></div><br>
    {% endblock %}

    {% block form %}{% endblock %}
{% endblock %}